.contactWhole {
    margin: 40px;
}

.contactHead, .contactBody {
    text-align: center;
}

.contactHead {
    font-family: 'Krona One', sans-serif;
}

.contactBody {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 850px) {

    .contactWhole {
        margin: auto;
        position: relative;
        top: 40px;
    }

    #phone, #email {
        font-size: 20px;
    }

}
